<footer class="footer">
    <div class="footertext">
        <p>&copy; Sam Van Assche 2018</p>
    </div>
    <div class="footericons">
        <ul>
        <li>
            <a href="#" title="facebook" target="_blank"><i class="fab fa-facebook-square"></i></a>
        </li> 
        <li>
            <a href="#" title="twitter" target="_blank"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
            <a href="#r" title="instagram" target="_blank"><i class="fab fa-instagram"></i></a>
        </li>
        </ul>
    </div>    
</footer>